<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <ng-template [ngIf]="true">
          <div class="card-header border-0">
            <h3 class="mb-3">Entidades</h3>
            <div class="row">
              <div class="col">
                <ng-template [ngIf]="entitiesList && entitiesList.length > 0 ">
                  <angular2-multiselect [data]="entitiesList" [(ngModel)]="selectedItem" [settings]="setting">
                  </angular2-multiselect>
                </ng-template>
              </div>
              <ng-template [ngIf]="selectedItem && selectedItem[0] && selectedItem[0].id === 1">
                <div class="col">
                  <button class="btn btn-simple btn-sm btn-block"
                    (click)="_modalService.openModal(createProduct, { keyboard: false, backdrop:'static'})">CREAR</button>
                </div>
              </ng-template>
              <ng-template [ngIf]="selectedItem && selectedItem[0] && selectedItem[0].id === 2">
                <div class="col">
                  <button class="btn btn-simple btn-sm btn-block"
                    (click)="_modalService.openModal(createProvider, { keyboard: false, backdrop:'static'})">CREAR</button>
                </div>
              </ng-template>
              <ng-template [ngIf]="selectedItem && selectedItem[0] && selectedItem[0].id === 3">
                <div class="col">
                  <button class="btn btn-simple btn-sm btn-block"
                    (click)="_modalService.openModal(createStore, { keyboard: false, backdrop:'static'})">CREAR</button>
                </div>
              </ng-template>
            </div>
          </div>
          <ng-template [ngIf]="selectedItem && selectedItem[0] && selectedItem[0].id === 1">
            <app-component-principal-product-list></app-component-principal-product-list>
          </ng-template>
          <ng-template [ngIf]="selectedItem && selectedItem[0] && selectedItem[0].id === 2">
            <app-component-principal-provider-list></app-component-principal-provider-list>
          </ng-template>
          <ng-template [ngIf]="selectedItem && selectedItem[0] && selectedItem[0].id === 3">
            <app-component-principal-store-list></app-component-principal-store-list>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #createProduct let-close="close" let-d="dismiss">
  <app-component-principal-product-create-update [close]="close" [dismiss]="d">
  </app-component-principal-product-create-update>
</ng-template>

<ng-template #createProvider let-close="close" let-d="dismiss">
  <app-component-principal-provider-create-update [close]="close" [dismiss]="d">
  </app-component-principal-provider-create-update>
</ng-template>

<ng-template #createStore let-close="close" let-d="dismiss">
  <app-component-principal-store-create-update [close]="close" [dismiss]="d">
  </app-component-principal-store-create-update>
</ng-template>
