<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">SERIAL</th>
        <th scope="col" class="text-center">NOMBRE</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template [ngIf]="false">
        <tr>
          <td class="text-center" colspan="100">
            <!-- <sk-circle></sk-circle> -->
          </td>
        </tr>
      </ng-template>
      <ng-template [ngIf]="!listProducts">
        <tr>
          <td class="text-center" colspan="100">
            SIN REGISTRO DE PRODUCTOS</td>
        </tr>
      </ng-template>
      <ng-template [ngIf]="listProducts">
        <tr *ngFor="let product of listProducts; let i = index">
          <td scope="row" class="text-center text-capitalize">
            {{product.serial}}</td>
          <td class="text-center text-capitalize">{{product.name}}</td>
          <td class="d-flex justify-content-center">
            <button class="btn btn-sm btn-primary" (click)="editProduct(product.serial)">
              Editar
            </button>
            <button class="btn btn-sm btn-primary" (click)="deleteProduct(product.serial)">
              Eliminar
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<ng-template [ngIf]="listProducts">
  <div class="card-footer pt-4">
    <div class="form-group row">
      <div class="col d-flex justify-content-start align-items-center row mb-3">
        <span class="col col-lg-4 pr-0"><b>Registros por página:</b> </span>
        <select [(ngModel)]="dataperPage" class="col col-lg-3 form-control" (change)="getAllProducts()">
          <option *ngFor="let limit of [10, 20, 30, 40, 50]"> {{limit}}</option>
        </select>
      </div>
      <div class="w-100 d-sm-none d-block"></div>
      <div class="col d-flex justify-content-center justify-content-md-end">
        <ngb-pagination [boundaryLinks]="true" [maxSize]="1" [collectionSize]="totalRegister" [(page)]="page"
          [pageSize]="dataperPage" (pageChange)="getAllProducts()">
        </ngb-pagination>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #createProduct let-close="close" let-d="dismiss">
  <app-component-principal-product-create-update [close]="close" [dismiss]="d" [serial]=serial>
  </app-component-principal-product-create-update>
</ng-template>
