<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">PRUEBA</th>
        <th scope="col" class="text-center">PRUEBA</th>
        <th scope="col" class="text-right">PRUEBA</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template [ngIf]="false">
        <tr>
          <td class="text-center" colspan="100">
            <!-- <sk-circle></sk-circle> -->
          </td>
        </tr>
      </ng-template>
      <ng-template [ngIf]="true">
        <tr>
          <td class="text-center" colspan="100">
            SIN REGISTRO DE PRUEBA</td>
        </tr>
      </ng-template>
      <ng-template [ngIf]="false">
        <tr *ngFor="let lead of leads; let i = index">
          <td scope="row" class="text-center text-capitalize">
            PRUEBA</td>
          <td class="text-center text-capitalize">PRUEBA</td>
          <td class="text-right">PRUEBA</td>
          <td class="d-flex justify-content-center">
            <button class="btn btn-sm btn-primary">
              PRUEBA
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<div class="card-footer pt-4">
  <div class="form-group row">
    <div class="col d-flex justify-content-start align-items-center row mb-3">
      <span class="col col-lg-4 pr-0"><b>PRUEBA</b> </span>
      <select class="col col-lg-3 form-control">
        <option *ngFor="let limit of [10, 20, 30, 40, 50]"> {{limit}}</option>
      </select>
    </div>
    <div class="w-100 d-sm-none d-block"></div>
    <div class="col d-flex justify-content-center justify-content-md-end">
      <ngb-pagination [boundaryLinks]="true" [maxSize]="1" [collectionSize]="totalRegister" [(page)]="currentPage"
        [pageSize]="dataperPage">
      </ngb-pagination>
    </div>
  </div>
</div>
