<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">NICKNAME</th>
        <th scope="col" class="text-center">NOMBRE</th>
        <th scope="col" class="text-center">APELLIDO</th>
        <th scope="col" class="text-center">FECHA DE NACIMIENTO</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template [ngIf]="!listProviders || listProviders.length ===0">
        <tr>
          <td class="text-center" colspan="100">
            SIN REGISTRO DE PROVEEDORES</td>
        </tr>
      </ng-template>
      <ng-template [ngIf]="listProviders && listProviders.length > 0">
        <tr *ngFor="let provider of listProviders | paginate:dataperPage:page">
          <td scope="row" class="text-center text-capitalize">
            {{provider.nickname}}</td>
          <td class="text-center text-capitalize">{{provider.name}}</td>
          <td class="text-center text-capitalize">{{provider.lastName}}</td>
          <td class="text-center text-capitalize">{{provider.birthDate | date}}</td>
          <td class="d-flex justify-content-center">
            <button class="btn btn-sm btn-primary mr-3" (click)="editProvider(provider.nickname)">
              Editar
            </button>
            <button class="btn btn-sm btn-primary" (click)="deleteProvider(provider.nickname)">
              Eliminar
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<ng-template [ngIf]="listProviders && listProviders.length > 0">
  <div class="card-footer pt-4">
    <div class="form-group row">
      <div class="col d-flex justify-content-start align-items-center row mb-3">
        <span class="col col-lg-4 pr-0"><b>Registros por página:</b> </span>
        <select [(ngModel)]="dataperPage" class="col col-lg-3 form-control" (change)="getAllProviders()">
          <option *ngFor="let limit of [10, 20, 30, 40, 50]"> {{limit}}</option>
        </select>
      </div>
      <div class="w-100 d-sm-none d-block"></div>
      <div class="col d-flex justify-content-center justify-content-md-end">
        <ngb-pagination [boundaryLinks]="true" [maxSize]="1" [collectionSize]="totalRegister" [(page)]="page"
          [pageSize]="dataperPage" (pageChange)="getAllProviders()">
        </ngb-pagination>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #createProvider let-close="close" let-d="dismiss">
  <app-component-principal-provider-create-update [close]="close" [dismiss]="d" [nickname]=nickname>
  </app-component-principal-provider-create-update>
</ng-template>
